:root {
    --h1-font-size:4.5rem;
    --bg-color-1:rgb(4, 62, 11);
    --font-color:rgb(242, 203, 203);
    --margin: 200px;
}
body {
    font-family: 'GFS Neohellenic';
    color: var(--font-color);
    background-color: var(--bg-color-1);
    margin: 0 var(--margin) 0 var(--margin);
    font-size: 1.7rem;;
}
.scientific-name {
    font-style: italic;
    text-align: center;
}
h1 {
    font-size: var(--h1-font-size);
    font-family: 'Metamorphous', serif;
}
h2 {
    font-size: 1.5rem;
    font-weight: 200;

}
.title-container {
    display: inline-block;
    padding: 1rem;
    line-height: 0.2rem;
    margin:0px 0 50px 0;

}
.logo {
    max-width: 100%;
    height:auto;
    transform: rotate(90deg);
}
.logo-container {
    width:400px;
    text-align: right;
    margin-bottom: -200px;
    margin-right: -100px;;
}
.a {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: end;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    height:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display:inline-block;
    flex: 1
}
.img-desc {
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.description {
    flex:1;
}

.image-container img {
max-width: 100%;
height:auto;
}
.image-ref {
    font-style: italic;
    font-size: 1rem;;
}
a {
    color:var(--font-color)
}


.first-letter {
    font-size: 5.8rem;
    float:left;
    margin-right: 2rem;
    line-height: 1;
    margin-bottom: -3rem;
    font-family: "Corinthia";
}

.quote {
    padding:0 2.8rem 0 2.8rem;
    line-height: 3.8rem;
    font-style: italic;
    font-weight: 60;
    font-size: 3.5rem;;
    text-align: center;
}